@tailwind base;
@tailwind components;
@tailwind utilities;


button {
  cursor: pointer;
  margin: 5px;
  background: #0d4ac3!important;
  padding: 8px 16px!important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none!important;
  border-radius: 4px;
  color: #fff;
}